.mainContent {

  // .mainLoader {
  //   width: 80%;
  //   margin: 40px auto;
  //   height: 30px;
  //   font-size: 36px;
  // }

  .LoaderOptimize {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0,0,0,0.7);
  }

  .LoaderOptimize .ant-spin-nested-loading > div {
    width: 100vw;
    height: 100vh;
  }

  .LoaderOptimize .ant-spin-nested-loading > div > .ant-spin {
    width: 468px;
    height: 124px;
    font-size: 36px;
    margin: 0 auto;
    top: 120px;
    right: 0;
  }
    
    .manageHeader {

        h1 {
            max-width: 700px;
            float: left;
        }

        .icon {
            margin-right: 10px;
            font-size: 24px;
            color: #c55b11;
        }

        &.bottom {
          height: 40px;
          margin: 20px 0;
        }

    }
    .simulateContent {
        padding-top: 0px;
        clear: both;

        .topSelection {
          width: 100%;
          background: #F7F5F5;
          height: 37px;
          border-bottom: 1px Solid #d3d3d3;
          padding: 4px 10px;
        }

        .topSelection .ant-select {
            margin-right: 15px;
        }

        .ant-dropdown-link {
          display: inline-block;
          width: 18%;
          min-width: 190px;
          margin-right: 2.5%;
          text-align: left;
          padding: 0 10px;
          background : #FFFFFF;
          height : 27px;
          line-height: 27px;
          border: 0;
          border-radius : 3px;
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
          font-size : 14px;
          color : #424242;

          &.noMarginRight {
              margin-right: 0;
          }

          .anticon {
            float: right;
          }
        }

        .simulateHeader {
            margin: 20px 0;
            background: #fff;
            box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
        }

        .card-container > .ant-tabs-card > .ant-tabs-content {
            height: 120px;
            margin-top: -16px;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
            background: #fff;
            padding: 15px;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar {
            border-color: #fff;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
            border-color: transparent;
            background: transparent;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
            border-color: #fff;
            background: #fff;
          }
          .card-container {
            position: relative;
            box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          }
          .card-container .ant-tabs {
              background-color: #f1f1f1;
          }

          .radioStyle {
            padding: 20px 0;
          }

          .messageContainer {
            text-align: center;
            font-size: 10px;
            color: #c00;
            padding-bottom:5px;
          }

          .hide {
            display: none;
          }

          // .showColumns {
          //   position: absolute;
          //   right: 15px;
          //   top: 15px;
          //   z-index: 1;
          //   color: #fff;

          // }
          .keyHeading {
            padding: 15px;
            background: #333;
            //background: rgba(197,91,17,0.8);
            text-align: center;
            color: #fff;
            font-weight: bold;
            margin-bottom: 0;
            position: relative;

            .selectedOptions {
              font-size: 12px;
              margin: 5px;
            }
          }
    }
  .components-table-demo-nested {
    .ant-table-thead > tr > th {
      text-align: center;
    }
    .ant-table-tbody > tr > td {
      text-align: center;
    }
    .ant-table-thead > tr > th.leftAlign, .ant-table-tbody > tr > td.leftAlign {
      text-align: left;
    }
    input {
      text-align: right;
    }
    .ant-input-number {
      margin-left: 5px;
    }
    .maxTD {
      width: 165px;
    }
    .maxTdSpend {
      width: 200px;
    }
    .maxTdSpendPer {
      width: 65px;
    }
    
  }
}

.positive {

  span {
    padding: 0 3px;
  }
}

.negitive {

  span {
    padding: 0 3px;
  }
}

.DropDownOverLay {
  min-width: 190px;
  max-width: 400px;

  .ant-dropdown-menu {
    padding: 5px 15px;

    label {
      padding: 5px 0;
      display: block;
    }
  }
}

// .ant-table .ant-table-row-indent + .ant-table-row-expand-icon {
//   width: 22px;
//   height: 22px;
//   font-size: 17px;
//   line-height: 19px;
//   color: #fff;
//   background-color: #449d44;
//   border-color: #398439;
// }

// .ant-table .ant-table-row-indent + .ant-table-row-expand-icon.ant-table-row-expanded {
//   background-color: #c55b11;
//   border-color: #c55b11;
// }

.ant-input-number .ant-input-number-handler-wrap {
  display: none;
}

.marginTop {
  margin-top: 15px;
}

.popUpMenuCont {
  position: relative;
}

.popUpMenu {
  position: absolute;
    background: #fff;
    z-index: 10;
    padding: 6px;
    left: -160px;
    top: -5px;
    width: 160px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.simulatorContainer .FilterSelection {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.LoaderOptimize {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loadOptimizeImg {
 
  background: url(../../images/LG_Tool_Sprite-bg.png);
        background-size: 100% 100%;
        cursor: pointer;
        width: 155px;
        height: 66px;
        position: relative;
        top: -60px;
        left: 190px;
}

.loadOptimizeAnimation {
  background: url(../../images/Progress_Bar.gif);
        background-size: 100% 100%;
        cursor: pointer;
        width: 250px;
        height: 25px;
        position: relative;
}

.tableDataKey {
  padding-bottom: 20px;
}

.leftTypeModal {
  float: left;
  width: 320px;
  padding-right: 30px;
  border-right: 1px solid #ccc;
}
.rightTypeModal {
  float: left;
  width: 320px;
  padding-left: 30px;

  .head {
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .ant-radio-wrapper {
    display: block;
    padding-bottom: 8px;
  }
}
.clear {
  clear: both;
}

.keyHeading .simButton {
  float: right;

  .createButtom {
    background: url(../../images/LG_Tool_Sprite_Optimize_icon.png) transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 28px;
    height: 28px;
    text-indent: -999999px;
    background-color: transparent !important;
    border: 0 !important;
    position: relative;
    top: -6px;

    &[disabled] { 
      background-image: url("../../images/LG_Tool_Sprite_icon_03_disabled.png");
    }
  }
}