.mainContent {

    .setPadding {
        margin: 0 20px 0 0;
    }
    
    .manageHeader {

        h1 {
            max-width: 700px;
            float: left;
        }

        .icon {
            margin-right: 10px;
            font-size: 24px;
            color: #c55b11;
        }

        &.bottom {
          height: 40px;
          margin: 20px 0;
        }

        .createButtom {
            float: right;
            margin-top: 7px;
            background-color: #449d44;
            border-color: #398439;
            margin-left: 15px;

            &.revert {
              background-color: #c00;
              border-color: #c00;
            }

            &:hover {
                background-color: #5cb85c;
                border-color: #4cae4c;
            }

            &[disabled] {
              background-color: #aaa;
              border: 1px solid #aaa;
              color: #777;
            }
        }
    }
    .simulateContent {
        padding-top: 0px;
        clear: both;

        .topSelection .ant-select {
            margin-right: 15px;
        }

        .ant-dropdown-link {
          

          .anticon {
            float: right;
            line-height: 27px;
          }
        }

        .simulateHeader {
            margin: 20px 0;
            background: #fff;
            box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
        }

        .card-container > .ant-tabs-card > .ant-tabs-content {
            height: 120px;
            margin-top: -16px;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
            background: #fff;
            padding: 15px;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar {
            border-color: #fff;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
            border-color: transparent;
            background: transparent;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
            border-color: #fff;
            background: #fff;
          }
          .card-container {
            position: relative;
            box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          }
          .card-container .ant-tabs {
              background-color: #f1f1f1;
          }

          .radioStyle {
            display: block;
            padding: 20px 0;
          }

          .messageContainer {
            text-align: center;
            font-size: 16px;
            color: #c00;
          }

          .hide {
            display: none;
          }

          .showColumns {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 1;
            color: #fff;

          }
          .keyHeading {
            padding: 15px;
            background: #333;
            //background: rgba(197,91,17,0.8);
            text-align: center;
            color: #fff;
            font-weight: bold;
            margin-bottom: 0;
            position: relative;

            .selectedOptions {
              font-size: 12px;
              margin: 5px;
            }
          }
    }
  .components-table-demo-nested {
    .ant-table-thead > tr > th {
      text-align: right;
    }
    .ant-table-tbody > tr > td {
      text-align: right;
    }
    .ant-table-thead > tr > th.leftAlign, .ant-table-tbody > tr > td.leftAlign {
      text-align: left;
    }
    input {
      text-align: right;
    }
    .ant-input-number {
      margin-left: 5px;
    }
    
  }
}

.positive {
  color: #5cb85c !important;
}

.negitive {
  color: #c00 !important;
}

.DropDownOverLay {
  min-width: 190px;
  max-width: 400px;

  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner,
  .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: #CC1F55;
  }

  .ant-dropdown-menu {
    padding: 5px 15px;

    label {
      padding: 5px 0;
      display: block;
      font-size : 12px;
      color : #444444;

      &:hover {
        color : #CC1F55;
      }

      .ant-radio-checked .ant-radio-inner {
        
        border-color: #CC1F55;

        &::after {
          background-color: #CC1F55;
        }
      }

      .ant-radio-inner {
        &::after {
          background-color: #CC1F55;
        }
      }
      
      .ant-checkbox-inner::after {
        border-color: #CC1F55;
      }
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #CC1F55;
        border-color: #CC1F55;

        &::after {
          border-color: #fff;
        }

        
    }
    .ant-checkbox-indeterminate .ant-checkbox-inner::after {
      background-color: #CC1F55;
  }
    }
  }
}

.ant-table .ant-table-row-indent + .ant-table-row-expand-icon {
  width: 22px;
  height: 22px;
  font-size: 17px;
  line-height: 19px;
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.ant-table .ant-table-row-indent + .ant-table-row-expand-icon.ant-table-row-expanded {
  background-color: #c55b11;
  border-color: #c55b11;
}

.ant-input-number .ant-input-number-handler-wrap {
  display: none;
}

.mainContent .simulateContainer .manageHeader {

  .buttonSpan {
    width: 54px;
    height: 66px;
    float:right;

  }
  .createButtom {
    background: url(../../images/Button_Discard.png) transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0;
    width: 54px;
    height: 66px;
    margin-left: 0;
    text-indent: -999999px;
    background-color: #fff !important;
    border-color: #333 !important;

    &:hover:not([disabled]) {
      background: url(../../images/Button_Discard_Highlight.png);
      background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #c55b11 !important;
    }

    &[disabled] {
      opacity: 0.4;
      cursor: no-drop;
    }

    &.download {
      background-image: url(../../images/Button_Download.png);

      &:hover:not([disabled]) {
        background-image: url(../../images/Button_Download_Highlight.png);
      }
    }

    &.share {
      background-image: url(../../images/Button_Share.png);

      &:hover:not([disabled]) {
        background-image: url(../../images/Button_Share_Highlight.png);
      }
    }

    &.saveAs {
      background-image: url("../../images/Button_Save As.png");

      &:hover:not([disabled]) {
        background-image: url("../../images/Button_Save As_Highlight.png");
      }
    }

    &.save {
      background-image: url("../../images/Button_Save.png");

      &:hover:not([disabled]) {
        background-image: url("../../images/Button_Save_Highlight.png");
      }
    }

    &.simulate {
      background-image: url("../../images/Button_Optimize.png");

      &:hover:not([disabled]) {
        background-image: url("../../images/Button_Optimize_Highlight.png");
      }
    }

    &.optimize {
      background-image: url("../../images/Button_Optimize.png");

      &:hover:not([disabled]) {
        background-image: url("../../images/Button_Optimize_Highlight.png");
      }
    }

    &.revertChanges {
      background-image: url("../../images/Button_Revert Changes.png");

      &:hover:not([disabled]) {
        background-image: url("../../images/Button_Revert Changes_Highlight.png");
      }
    }

    &.reset {
      background-image: url("../../images/Button_Reset.png");

      &:hover:not([disabled]) {
        background-image: url("../../images/Button_Reset_Highlight.png");
      }
    }

  }
}

.simulateHeader {
  .ant-switch {
    background-color: rgba(255, 255, 255, 0.25);

    &.ant-switch-checked {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}

.setScenario {
  .setScenarioHeader {
    width: 100%;
    background: #F7F5F5;
    height: 37px;
    border-bottom: 1px Solid #d3d3d3;
  }

  .setScenarioContent {
    background: #F9F9F9;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    height: calc(100vh - 140px);
  }

  .ant-select-selection--single {
    display: inline-block;
    line-height: 37px;
    border: 0;
    background : #FFFFFF;
    width : 200px;
    height : 37px;
    border-radius : 3px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    font-size : 12px;
  color : #636363;
  }

  .ant-select-selection__rendered {
    line-height: 37px;
  }
  span.setPadding {
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    line-height: 37px;
  }

  .createButtom {
    background : #CC1F55;
    width : 160px;
    height : 37px;
    border-radius : 3px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    font-size : 13px;
    color : #FFFFFF;
  }
}


body .ant-modal-header {
  // background-image: url(../../images/LG_Header_bg.png);
  //   background-size: 100% 100%;
    background: linear-gradient(180deg, #ffffff 0%, #f9f9f9 47.72%, #e3e3e3 100%);
    border-bottom: 1px Solid rgba(178, 178, 178, 0.5);
    width: 100%;
    color: #3D3D3D;
}

.managePopup.ant-modal {
  width: calc(100vw - 60px) !important;
  height: calc(100vh - 60px) !important;
  overflow: hidden;
  top: 30px;
  border-radius: 10px;

  .ant-modal-title {
    color: #3D3D3D;
  }

  .ant-modal-close-x {
    color: #3D3D3D;
  }

  .ant-modal-body {
    padding: 15px;
  }

  .manageFilters {
    border-bottom : 1px solid rgba(219, 219, 219, 0.5);
    height: 42px;

    .ant-menu-horizontal {
      height: 33px;
    }

    .ant-input-search {
      float: right;
      width: 200px;
    }

    input {
      background : #F7F7F7;
      border-style : Solid;
      border-color : rgba(226, 226, 226, 0.5);
      border-width : 1px;
      width : 189px;
      height : 29px;
      border-radius : 3px;
      font-size : 10px;
  color : #444444;
  position: relative;
    top: -5px;
    }

    
  }

  .manageContainer .manageTable {
    margin-top: 15px;
    height: calc(100vh - 180px);
  }
  .container.simulatorContainer .manageContainer .ant-menu-horizontal > .ant-menu-item-selected {
    height: 33px;
    box-shadow: unset;
    background : #CC1F55;
    height : 33px;
    border-radius : 4px;
    color: #fff;
  }

  .container.simulatorContainer .manageContainer .ant-menu-horizontal > .ant-menu-item {
    height: 33px;
    line-height: 34px;
    position: relative;
    top: -15px;
  }

  .manageContainer .manageTable {
    border: 0;
  }

  .ant-table-thead > tr > th {
    border: 0;
    border-top: 0 !important;
    background : linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  height : 50px;
  border-top : 1px Solid rgba(219, 219, 219, 0.5);
  font-size : 13px;
  color : #4C4C4C;
  padding: 15px;
  }

  .ant-table-tbody > tr > td { 
    border-bottom : 1px dashed rgba(188, 188, 188, 0.5);
    font-size : 13px;
  color : #333333;
  padding: 15px;
  }

  .ant-table-tbody > tr:nth-child(even) > td {
    background : #F4F4F4;
  }
  
  .ant-pagination-item-active a {
    background: #CC1F55;
    color: #fff;
}

// .ant-modal-close-x {
//   background: #CC1F55;
//     width: 20px;
//     height: 20px;
//     z-index: 10000000;
//     border-radius: 10px;
//     padding: 0;
//     position: relative;
    
//     i {
//       position: relative;
//     top: -20px;
//     font-size: 12px;
//     }
// }
}