.mainContent {

    .setPadding {
        margin: 0 20px 0 0;
    }
    
    .manageHeader {

        h1 {
            max-width: 700px;
            float: left;
        }

        .icon {
            margin-right: 10px;
            font-size: 24px;
            color: #c55b11;
        }

        &.bottom {
          height: 40px;
          margin: 20px 0;
        }

        .createButtom {
            float: right;
            margin-top: 7px;
            background-color: #449d44;
            border-color: #398439;
            margin-left: 15px;

            &.revert {
              background-color: #c00;
              border-color: #c00;
            }

            &:hover {
                background-color: #5cb85c;
                border-color: #4cae4c;
            }

            &[disabled] {
              background-color: #aaa;
              border: 1px solid #aaa;
              color: #777;
            }
        }
    }
    .simulateContent {
        padding-top: 0px;
        clear: both;

        .topSelection .ant-select {
            margin-right: 15px;
        }

        .ant-dropdown-link {
          

          .anticon {
            float: right;
            line-height: 27px;
          }
        }

        .simulateHeader {
            margin: 20px 0;
            background: #fff;
            box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
        }

        .card-container > .ant-tabs-card > .ant-tabs-content {
            height: 120px;
            margin-top: -16px;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
            background: #fff;
            padding: 15px;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar {
            border-color: #fff;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
            border-color: transparent;
            background: transparent;
          }
          
          .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
            border-color: #fff;
            background: #fff;
          }
          .card-container {
            position: relative;
            box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          }
          .card-container .ant-tabs {
              background-color: #f1f1f1;
          }

          .radioStyle {
            display: inline-block;
            padding: 20px 0;
          }

          .messageContainer {
            text-align: center;
            font-size: 10px;
            color: #c00;
          }

          .hide {
            display: none;
          }

          .showColumns {
            position: absolute;
            right: 50px;
            top: 8px;
            z-index: 1;
            color: #333;
          }

          .keyHeading {
            padding: 15px;
            background: #333;
            //background: rgba(197,91,17,0.8);
            text-align: center;
            color: #fff;
            font-weight: bold;
            margin-bottom: 0;
            position: relative;

            .selectedOptions {
              font-size: 12px;
              margin: 5px;
            }
          }
    }
  .components-table-demo-nested {
    .ant-table-thead > tr > th {
      text-align: center;
    }
    .ant-table-tbody > tr > td {
      text-align: center;
    }
    .ant-table-thead > tr > th.leftAlign, .ant-table-tbody > tr > td.leftAlign {
      text-align: left;
    }
    input {
      text-align: right;
    }
    .ant-input-number {
      margin-left: 5px;
      background : #FFFFFF;
      border-style : Solid;
      border-color : rgba(214, 214, 214, 0.5);
      border-width : 1px;
      width : 80px;
      height : 25px;
      border-radius : 2px;
      font-size: 14px;

      .ant-input-number-input {
        height : 25px;
      }
    }
    
  }
}

.positive {
  color: #11A818 !important;

  span.title {
    color: #333 !important;
    font-weight: bold;
  }

  span.oldSpend {
    color: #333 !important;
  }
}

.negitive {
  color: #EA1B1B !important;

  span.title {
    color: #333 !important;
    font-weight: bold;
  }

  span.oldSpend {
    color: #333 !important;
  }
}

.DropDownOverLay {
  min-width: 190px;
  max-width: 400px;

  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner,
  .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: #CC1F55;
  }

  .ant-dropdown-menu {
    padding: 5px 15px;

    label {
      padding: 5px 0;
      display: block;
      font-size : 14px;
      color : #444444;

      &:hover {
        color : #CC1F55;
      }

      .ant-radio-checked .ant-radio-inner {
        
        border-color: #CC1F55;

        &::after {
          background-color: #CC1F55;
        }
      }

      .ant-radio-inner {
        &::after {
          background-color: #CC1F55;
        }
      }
      
      .ant-checkbox-inner::after {
        border-color: #CC1F55;
      }
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #CC1F55;
        border-color: #CC1F55;

        &::after {
          border-color: #fff;
        }

        
    }
    .ant-checkbox-indeterminate .ant-checkbox-inner::after {
      background-color: #CC1F55;
  }
    }
  }
}

.ant-table .ant-table-row-indent + .ant-table-row-expand-icon {
  width: 16px;
  height: 16px;
  font-size: 17px;
  line-height: 14px;
  color: #fff;
  background-color: #CC1F55;
  border-color: #CC1F55;
}

.ant-table .ant-table-row-indent + .ant-table-row-expand-icon.ant-table-row-expanded {
  background-color: #CCC;
  border-color: #CCC;
}

.ant-input-number .ant-input-number-handler-wrap {
  display: none;
}

.mainContent .simulateContainer .manageHeader {

  .buttonSpan {
    width: 54px;
    height: 66px;
    float:right;

  }
  .createButtom {
    background: url(../../images/LG_Tool_Sprite_icon_08.png) transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 4px;
    width: 28px;
    height: 28px;
    margin-left: 5px;
    text-indent: -999999px;
    background-color: transparent !important;
    border: 0 !important;

    // &:hover:not([disabled]) {
    //   background: url(../../images/LG_Tool_Sprite_icon_07.png);
    //   background-repeat: no-repeat;
    // background-size: contain;
    // background-position: center;
    // border-color: #c55b11 !important;
    // }

    &[disabled] {
      cursor: no-drop;
      background-color: transparent !important;
      border: 0 !important;

      &.download {
        background-image: url(../../images/LG_Tool_Sprite_icon_07_disabled.png);
      }

      &.discard {
        background-image: url(../../images/LG_Tool_Sprite_icon_08_disabled.png);
      }

      &.share {
        background-image: url(../../images/LG_Tool_Sprite_icon_06_disabled.png);
  
        // &:hover:not([disabled]) {
        //   background-image: url(../../images/Button_Share_Highlight.png);
        // }
      }
  
      &.saveAs {
        background-image: url("../../images/LG_Tool_Sprite_icon_05_disabled.png");
  
        // &:hover:not([disabled]) {
        //   background-image: url("../../images/Button_Save As_Highlight.png");
        // }
      }
  
      &.save {
        background-image: url("../../images/LG_Tool_Sprite_icon_04_disabled.png");
  
        // &:hover:not([disabled]) {
        //   background-image: url("../../images/Button_Save_Highlight.png");
        // }
      }
  
      &.simulate {
        background-image: url("../../images/LG_Tool_Sprite_icon_03_disabled.png");
  
        // &:hover:not([disabled]) {
        //   background-image: url("../../images/Button_Optimize_Highlight.png");
        // }
      }
  
      &.optimize {
        background-image: url("../../images/LG_Tool_Sprite_icon_03_disabled.png");
  
        // &:hover:not([disabled]) {
        //   background-image: url("../../images/Button_Optimize_Highlight.png");
        // }
      }
  
      &.revertChanges {
        background-image: url("../../images/LG_Tool_Sprite_icon_02_disabled.png");
  
        // &:hover:not([disabled]) {
        //   background-image: url("../../images/Button_Revert Changes_Highlight.png");
        // }
      }
  
      &.reset {
        background-image: url("../../images/LG_Tool_Sprite_icon_01_disabled.png");
  
        // &:hover:not([disabled]) {
        //   background-image: url("../../images/Button_Reset_Highlight.png");
        // }
      }
  
    }

    &.revert {
      background-color: transparent !important;
    border: 0 !important;
    }

    &.download {
      background-image: url(../../images/LG_Tool_Sprite_icon_07.png);

      // &:hover:not([disabled]) {
      //   background-image: url(../../images/Button_Download_Highlight.png);
      // }
    }

    &.share {
      background-image: url(../../images/LG_Tool_Sprite_icon_06.png);

      // &:hover:not([disabled]) {
      //   background-image: url(../../images/Button_Share_Highlight.png);
      // }
    }

    &.saveAs {
      background-image: url("../../images/LG_Tool_Sprite_icon_05.png");

      // &:hover:not([disabled]) {
      //   background-image: url("../../images/Button_Save As_Highlight.png");
      // }
    }

    &.save {
      background-image: url("../../images/LG_Tool_Sprite_icon_04.png");

      // &:hover:not([disabled]) {
      //   background-image: url("../../images/Button_Save_Highlight.png");
      // }
    }

    &.simulate {
      background-image: url("../../images/LG_Tool_Sprite_icon_03.png");

      // &:hover:not([disabled]) {
      //   background-image: url("../../images/Button_Optimize_Highlight.png");
      // }
    }

    &.optimize {
      background-image: url("../../images/LG_Tool_Sprite_icon_03.png");

      // &:hover:not([disabled]) {
      //   background-image: url("../../images/Button_Optimize_Highlight.png");
      // }
    }

    &.revertChanges {
      background-image: url("../../images/LG_Tool_Sprite_icon_02.png");

      // &:hover:not([disabled]) {
      //   background-image: url("../../images/Button_Revert Changes_Highlight.png");
      // }
    }

    &.reset {
      background-image: url("../../images/LG_Tool_Sprite_icon_01.png");

      // &:hover:not([disabled]) {
      //   background-image: url("../../images/Button_Reset_Highlight.png");
      // }
    }

  }
}

.simulateHeader {
  .ant-switch {
    background-color: #999;

    &.ant-switch-checked {
      background-color: rgb(204, 31, 85);
    }
  }
}

.setScenario {
  .setScenarioHeader {
    width: 100%;
    background: #F7F5F5;
    height: 37px;
    border-bottom: 1px Solid #d3d3d3;
  }

  .setScenarioContent {
    background: #F9F9F9;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    height: calc(100vh - 140px);
  }

  .ant-select-selection--single {
    display: inline-block;
    line-height: 37px;
    border: 0;
    background : #FFFFFF;
    width : 200px;
    height : 37px;
    border-radius : 3px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    font-size : 14px;
  color : #636363;
  }

  .ant-select-selection__rendered {
    line-height: 37px;
  }
  span.setPadding {
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    line-height: 37px;
  }

  .createButtom {
    background : #CC1F55;
    width : 160px;
    height : 37px;
    border-radius : 3px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);
    font-size : 14px;
    color : #FFFFFF;
  }
}

body .ant-modal-content {
  border-radius: 10px;
}

body .ant-modal-close-icon {
  padding: 4px;
  font-size: 12px;
  background: #CC1F55;
  color: #fff;
  border-radius: 20px;
  position: relative;
  top: -10px;
  left: 5px;
}

body .ant-modal-header {
  // background-image: url(../../images/LG_Header_bg.png);
  //   background-size: 100% 100%;
    // background: linear-gradient(180deg, #ffffff 0%, #f9f9f9 47.72%, #e3e3e3 100%);
    // border-bottom: 1px Solid rgba(178, 178, 178, 0.5);
    // width: 100%;
    // color: #3D3D3D;
    padding: 10px;
    border-radius: 10px 10px 0 0;

    .ant-modal-title {
      font-weight : bold;
      font-size : 19px;
      color : #CC1F55;
      text-align: center;
    }
}

.managePopup.ant-modal {
  width: calc(100vw - 60px) !important;
  height: calc(100vh - 60px) !important;
  overflow: hidden;
  top: 30px;
  border-radius: 10px;


  .ant-modal-body {
    padding: 15px;
  }

  .manageFilters {
    border-bottom : 1px solid rgba(219, 219, 219, 0.5);
    height: 42px;

    .ant-menu-horizontal {
      height: 33px;
    }

    .ant-input-search {
      float: right;
      width: 200px;
    }

    input {
      background : #F7F7F7;
      border-style : Solid;
      border-color : rgba(226, 226, 226, 0.5);
      border-width : 1px;
      width : 189px;
      height : 29px;
      border-radius : 3px;
      font-size : 14px;
  color : #444444;
  position: relative;
    top: -5px;
    }

    
  }

  .manageContainer .manageTable {
    margin-top: 15px;
    height: calc(100vh - 180px);
  }
  .container.simulatorContainer .manageContainer .ant-menu-horizontal > .ant-menu-item-selected {
    height: 33px;
    box-shadow: unset;
    background : #CC1F55;
    height : 33px;
    border-radius : 4px;
    color: #fff;
  }

  .container.simulatorContainer .manageContainer .ant-menu-horizontal > .ant-menu-item {
    height: 33px;
    line-height: 34px;
    position: relative;
    top: -15px;
  }

  

// .ant-modal-close-x {
//   background: #CC1F55;
//     width: 20px;
//     height: 20px;
//     z-index: 10000000;
//     border-radius: 10px;
//     padding: 0;
//     position: relative;
    
//     i {
//       position: relative;
//     top: -20px;
//     font-size: 12px;
//     }
// }
}

.manageContainer .manageTable {
  border: 0;
}

body .ant-table-thead > tr > th {
  border: 0;
  border-top: 0 !important;
  background : linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
border-top : 1px Solid rgba(219, 219, 219, 0.5);
font-size : 14px;
color : #4C4C4C;
padding: 8px 15px;
font-weight: bold;
}

body .ant-table-tbody > tr > td { 
  border-bottom : 1px dashed rgba(188, 188, 188, 0.5);
  font-size : 14px;
color : #333333;
padding: 10px 15px;
white-space: nowrap;

span.pipe {
  color: #C1C1C1;
}
}

body .ant-table-tbody > tr:nth-child(even) > td {
  background : #F4F4F4;
}

body .ant-pagination-item-active a {
  background: #CC1F55;
  color: #fff;
}

.spenTooltip {
  border-top: 5px solid #CC1F55;
  border-radius: 8px;
  padding: 10px;
  text-align: right;
  font-size : 13px;
  color : #4C4C4C;
}

.borderRight {
display: inline-block;
width: 100%;
border-right: 1px solid rgba(188, 188, 188, 0.5);
}

.simulateNew {
  .manageHeader  {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  
  .radioStyle {
    padding: 5px 0 5px 20px !important;
    display: inline-block;

    label {
      font-size: 14px;
      color: #000;
    }
  }

  .topButtons {
    width: calc(100vw - 750px);
    display: inline-block;
    text-align: center;
    position: relative;
    top: -3px;

    .createButtom {
      height: 28px;
      font-size: 14px;
      margin-right: 12px;
    }
  }

  .dropSelection {
    background: #F9F9F9;
    min-height: 45px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    padding: 10px 15px;
    margin: 10px;
    text-align: center;

    .ant-dropdown-link {
      text-align: left;
    }

  }
  .simulateDetails {
    background: #F9F9F9;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);

    .detailsHead {
      border-bottom: 1px solid rgba(219, 219, 219, 0.5);
      padding: 10px 15px;
      font-size: 14px;
      position: relative;
      color: #1A1B1C;

      h1.ant-typography {
        color: #1A1B1C;
        font-size: 18px;
        margin-bottom: 0;
      }

      .FilterSelection {
        display: inline-block;
        position: absolute;
        top: 13px;
        right: 10px;
        border: 0;
      }

      span {
        padding-right: 15px;
      }
    }

    .simulatorTableData {
      height: calc(100vh - 245px);

      .simulateHeader {
        margin: 15px;
        border-radius: 10px;

        &.noMargin {
          margin-top: 0;
        }

        .keyHeading {
          padding: 10px;
          background : linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0,  0.15) 100%);
          height: 36px;
          border-radius: 8px 8px 0px 0px;
          border-bottom: 1px Solid rgba(178, 178, 178, 0.5);
          width: 100%;
          font-size: 15px;
          color: #3D3D3D;
          text-align: left;
        }

        .simulateTable {
          padding: 10px 10px 0 10px;
        }
      }
    }
  }
  
}

body .ant-popover-inner-content {
  padding: 0;
}

body .ant-popover-inner {
  border-radius: 8px;
}

body .ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.65);
}

.createSc.ant-modal {
  top: 30px;
}

body .ant-pagination-item-active:focus, body .ant-pagination-item-active:hover {
  color: #fff;
}
body .ant-input-search.ant-input-affix-wrapper .ant-input-suffix {
  margin-top: -4px;
}

.mainContent .components-table-demo-nested td.show .ant-input-number {
  width: 55px;
}

.mainContent .components-table-demo-nested.keyHighlights .ant-table-thead > tr > th.leftAlign {
  text-indent: -99999px;
}

.kyeDivide {
  width: 2%;
  background: url(../../images/LG_Tool_Sprite-81.png);
  background-size: contain;
  background-position: center;
  height: 80px;
  background-repeat: no-repeat;
}

.keyHi {
  display: flex;
    align-items: center;
    justify-content: center;
}

.keyCont {
  width: 32%;

  .keyHead {
    background : linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 49.05%, rgba(255, 255, 255, 1) 100%);
    height : 29px;
    text-align: center;
    font-weight : bold;
    font-size : 15px;
    text-transform : uppercase;
    color : #545454;
    line-height: 29px;
  }

  .keyContent {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .keyLeft {
      width: 80px;
      height: 80px;
      background: url(../../images/LG_Tool_Sprite-78.png);
      background-size: 100% 100%;
      
      &.icon1 {
        background-image: url(../../images/LG_Tool_Sprite-79.png);
      }

      &.icon2 {
        background-image: url(../../images/LG_Tool_Sprite-80.png);
      }
    }

    .keyRight {
      font-size : 14px;
      width: 180px;
      color : #636363;

      > div {
        padding-bottom: 3px;
        padding-left: 5px;

        span {
          color: #000;

          &.positive span {
            color: #11A818 !important;

            &.pipe {
              color : #636363 !important;
            }
          }
          
          &.negitive span {
            color: #EA1B1B !important;

            &.pipe {
              color : #636363 !important;
            }
          }

          
        }
      }
    }
  }
}


#outer-barG{
	height:24px;
	width:300px;
  border:none;
  border-radius: 20px;
	overflow:hidden;
	background-color:#efefef;
  margin:auto;
  position: absolute;
}

.bar-lineG{
	background-color:#CC1F55;
	float:left;
	width:18px;
	height:117px;
	margin-right:23px;
	margin-top:-27px;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}


.bar-animationG{
	margin-left:300px;
	width:300px;
	animation-name:bar-animationG;
		-o-animation-name:bar-animationG;
		-ms-animation-name:bar-animationG;
		-webkit-animation-name:bar-animationG;
		-moz-animation-name:bar-animationG;
	animation-duration:2.24s;
		-o-animation-duration:2.24s;
		-ms-animation-duration:2.24s;
		-webkit-animation-duration:2.24s;
		-moz-animation-duration:2.24s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:reverse;
		-o-animation-direction:reverse;
		-ms-animation-direction:reverse;
		-webkit-animation-direction:reverse;
		-moz-animation-direction:reverse;
}



@keyframes bar-animationG{
	0%{
		margin-left:251px;
		margin-top:-18px;
	}

	100%{
		margin-left:-125px;
		margin-top:-18px;
	}
}

@-o-keyframes bar-animationG{
	0%{
		margin-left:251px;
		margin-top:-18px;
	}

	100%{
		margin-left:-125px;
		margin-top:-18px;
	}
}

@-ms-keyframes bar-animationG{
	0%{
		margin-left:251px;
		margin-top:-18px;
	}

	100%{
		margin-left:-125px;
		margin-top:-18px;
	}
}

@-webkit-keyframes bar-animationG{
	0%{
		margin-left:251px;
		margin-top:-18px;
	}

	100%{
		margin-left:-125px;
		margin-top:-18px;
	}
}

@-moz-keyframes bar-animationG{
	0%{
		margin-left:251px;
		margin-top:-18px;
	}

	100%{
		margin-left:-125px;
		margin-top:-18px;
	}
}