.ant-modal-content {
    .ant-modal-title {
        font-weight: 600;
        font-size: 20px;
    }

    .formLabel {
        display: block;
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 4px;
    }
    .ant-form-item-control {
        padding: 5px 0;
    }

    .modelButtons {
        text-align: right;

        button {
            margin-left: 15px;
        }
    }
}

.ant-modal-footer {
    display: none;
}

.manageContainer {
    background-color: #fff;

    .manageHeader {

        h1 {
            max-width: 700px;
            float: left;
        }

        .createButtom {
            float: right;
            margin-top: 7px;
            background-color: #449d44;
            border-color: #398439;

            &:hover {
                background-color: #5cb85c;
                border-color: #4cae4c;
            }
        }
    }

    .manageFilters {
        clear: both;
        
        .ant-menu-horizontal {
            border-bottom: 0;
            max-width: 400px;
            float: left;
        }

        .ant-input {
            width: 400px;
            float: right;
            height: 43px;
            margin-top: 4px;
        }
    }

    .manageTable {
        clear: both;
        border: 1px solid #e8e8e8;
        overflow: hidden;
        margin-top: 30px;

        .tabContent {
            padding: 10px;
            position: relative;
        }

        .tabHeader.withAbsolut {
            background: transparent;
            box-shadow: unset;
            position: absolute;
            top: 22px;
            right: 13px;

            .messageContainer {
                position: absolute;
                left: -85px;
                top: 8px;
            }

            .ant-dropdown-link {
                width: 300px;
            }

            
        }

        .chartContent {
            padding: 0;
            max-width: 100%;
            margin: 0;

            .widthHalf {
                width: calc(50% - 10px);
                padding: 10px;
                border: 1px Solid rgba(198, 198, 198, 0.5);
                border-radius : 8px;
                background-color: #fff;

                .chartTitle {
                    padding: 10px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background : linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 47.72%, rgba(227, 227, 227, 1) 100%);
                    height : 36px;
                    border-radius : 8px 8px 0px 0px;
                    border-bottom : 1px Solid rgba(178, 178, 178, 0.5);
                    width: 100%;
                    font-size : 13px;
                    color : #3D3D3D;

                    
                }
                
                &.titleAdded {
                    padding-top: 51px;
                }
            }
            .widthHalfRight {
                width: calc(50% - 10px);
                padding: 10px;
                border: 1px Solid rgba(198, 198, 198, 0.5);
                border-radius : 8px;
                background-color: #fff;

                .chartTitle {
                    padding: 10px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background : linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 47.72%, rgba(227, 227, 227, 1) 100%);
                    height : 36px;
                    border-radius : 8px 8px 0px 0px;
                    border-bottom : 1px Solid rgba(178, 178, 178, 0.5);
                    width: 100%;
                    font-size : 13px;
                    color : #3D3D3D;
                }
                
                &.titleAdded {
                    padding-top: 51px;
                }
            }
            .downChart {
                width: 100%;
                padding: 10px;
                border: 1px Solid rgba(198, 198, 198, 0.5);
                border-radius : 8px;
                background-color: #fff;
                position: relative;

                .scrollhor {
                    width: 100%;
                    height: 450px;
                    overflow: auto;

                    .apexcharts-toolbar {
                        top: 0px !important;
                    }
                }
                .chartTitle {
                    padding: 10px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background : linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(249, 249, 249, 1) 47.72%, rgba(227, 227, 227, 1) 100%);
                    height : 36px;
                    border-radius : 8px 8px 0px 0px;
                    border-bottom : 1px Solid rgba(178, 178, 178, 0.5);
                    width: 100%;
                    font-size : 13px;
                    color : #3D3D3D;

                    .createButtom {
                        position: absolute;
                        top: 8px;
                        font-size: 13px;
                        right: 0;
                        margin-right: 10px;
                        background: transparent;
                        border: 0;
                        padding: 0;
                        height: auto;
                        color: #333;
                        text-shadow: unset;
                        box-shadow: unset;
                        border-radius: 0;
                        border-bottom: 3px solid #CC1F55;

                        &:hover {
                            color: #CC1F55
                        }
                    }
                }
                
                &.titleAdded {
                    padding-top: 51px;
                }
            }
            .spaceBetween {
                clear: both;
                height: 20px;
                width: 100%;
            }
        }

        
    }
}

.data_viewer.ant-dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
}


.tabsDesign .ant-tabs-bar {
    position: absolute;
    top: -44px;
    width: 100%;
    background : #F7F5F5;
    height : 37px;
    border-bottom: 1px Solid #d3d3d3;
}

.tabsDesign .ant-tabs {
    overflow: unset;
}

.chartContent {
    position: relative;
}
.rsquare {
    border: 1px solid #ccc;

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
        width: 33%;
        max-width: 33%;
        text-align: center;
    }
}

.graphContent {
    background: #F9F9F9;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);

    .FilterSelection {

        border-bottom : 1px solid rgba(219, 219, 219, 0.5);
        padding: 13px 15px;
        font-size : 12px;
        color : #1A1B1C;

    p {
        margin-bottom: 0;
    }

    span {
        padding-right: 15px;
    }
}
}

.resultViewer .FilterSelection {
    margin-top: 0;
}

.emptyChart {
    position: relative;


    .emptyChartdiv {
        height: 665px;
    }
}

.apexcharts-toolbar {
    top: -44px !important;

    .apexcharts-menu-icon svg {
        fill: #CC1F55;
    }
}

.resultView {

    .mainContent .simulateContent .topSelection {
        text-align: center;
    }
  
    &.tabsDesign .ant-tabs-bar {
      top: -24px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 475px;
      background : #F9F9F9;
      height : 33px;
      border-radius : 17px;
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);

    }
  }

.container.dataViewer.resultView .manageContainer .ant-tabs-nav .ant-tabs-tab {
    height: 33px;
    line-height: 9px;
    font-size : 13px;
    color : #383838;
    text-transform: unset;
}

.container.dataViewer.resultView .manageContainer .ant-tabs-nav .ant-tabs-tab-active {
  height: 33px;
  line-height: 9px;
  font-size : 13px;
  background: #cc1f55 ;
  box-shadow: unset;
  color: #fff;

  &:hover {
      color: #fff;
  }
}

.container.dataViewer.resultView .ant-tabs-ink-bar {
    display: none;
}